<footer>
  <div class="container">
      <nav class="navbar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="">LINDA CRUSE I <strong>RACE4GOOD</strong></a>
          </div>

            <ul class="nav navbar-nav">
              <li>© 2016  | All Right Reserved By LINDA CRUSE FRONTLINE</li>
            </ul>


            <ul class="nav navbar-nav navbar-social navbar-right">
              <li><a href="https://www.facebook.com/lindacruse.bethechange"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/linda_cruse"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/frontlinelinda"><i class="fa fa-instagram"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="terms.html">TERMS OF USE</a></li>
              <li><a href="splash.html">JOIN THE RACE</a></li>
              <li><a href="form-wufoo.html">CONTACT</a></li>
            </ul>

        </div><!-- /.container-fluid -->
      </nav>
  </div>
</footer>
<!-- footer end -->

//= _scripts.html
</body>
</html>