<footer>
  <div class="container">
      <nav class="navbar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="img/logo.png" alt="">LINDA CRUSE I <strong>RACE4GOOD</strong></a>
          </div>

            <ul class="nav navbar-nav">
              <li>© 2016  | All Right Reserved By LINDA CRUSE FRONTLINE</li>
            </ul>


            <ul class="nav navbar-nav navbar-social navbar-right">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">TERMS OF USE</a></li>
              <li><a href="#">JOIN THE RACE</a></li>
              <li><a href="#">CONTACT </a></li>
            </ul>

        </div><!-- /.container-fluid -->
      </nav>
  </div>
</footer>
<!-- footer end -->

//= _scripts.html
</body>
</html>